In [2]:
import pandas as pd
import uuid

------------------------
# Creating tables
* setting up unique keys for every course
* seperating the coulmn into different dimentions:
  
   - courses - consisti of unique ID, name and organization
   - course_details - consist of course_id, certification, rating, reviews, coursera plus, included in degree points and difficulty
   - skills list - that will consist of skill name and skill id
   - course to skill - consist of id, skill idand course id
    
* preparing to load to databases

In [34]:
data=pd.read_csv('data/clean_coursera_courses.csv')
data.columns=data.columns.str.lower()

In [4]:
data['unique_id'] = range(1, len(data) + 1)

In [5]:
data

,title,organization,certificate type,rating,reviews,coursera plus,towards degree,difficulty,skills,duration,unique_id
0,Google Cybersecurity,Google,Professional Certificate,4.8,43000,False,True,Beginner,"['Network Security', ' Python Programming', ' ...",3 - 6 Months,1
1,Google Data Analytics,Google,Professional Certificate,4.8,159000,False,True,Beginner,"['Data Analysis', ' R Programming', ' SQL', ' ...",3 - 6 Months,2
2,Google Project Management:,Google,Professional Certificate,4.8,120000,False,True,Beginner,"['Project Management', ' Strategy and Operatio...",3 - 6 Months,3
3,Google Digital Marketing & E-commerce,Google,Professional Certificate,4.8,34000,False,True,Beginner,"['Digital Marketing', ' Marketing', ' Marketin...",3 - 6 Months,4
4,Google IT Support,Google,Professional Certificate,4.8,196000,False,True,Beginner,"['Computer Networking', ' Network Analysis', '...",3 - 6 Months,5
...,...,...,...,...,...,...,...,...,...,...,...
1003,Introduction to Data Analytics,Meta,Course,4.8,620,False,False,Beginner,"['Communication', ' Computer Programming', ' D...",1 - 3 Months,1004
1004,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network,Guided Project,4.7,163,False,False,Beginner,['Microsoft Excel'],Less Than 2 Hours,1005
1005,Blockchain: Foundations and Use Cases,ConsenSys Academy,Course,4.7,840,False,False,Beginner,"['BlockChain', ' Cryptography', ' Databases', ...",1 - 3 Months,1006
1006,Ãxito Profesional,"University of California, Irvine",Specialization,4.7,7400,False,False,Beginner,"['Communication', ' Planning', ' Strategy', ' ...",3 - 6 Months,1007
1007,Go and C++: Programming in Two Successor Lang...,"University of California, Santa Cruz",Specialization,4.4,2400,False,False,Intermediate,"['Algorithms', ' Computer Programming', ' Grap...",3 - 6 Months,1008

In [6]:
courses = data[['unique_id', 'title', 'organization']].drop_duplicates()
courses

,unique_id,title,organization
0,1,Google Cybersecurity,Google
1,2,Google Data Analytics,Google
2,3,Google Project Management:,Google
3,4,Google Digital Marketing & E-commerce,Google
4,5,Google IT Support,Google
...,...,...,...
1003,1004,Introduction to Data Analytics,Meta
1004,1005,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network
1005,1006,Blockchain: Foundations and Use Cases,ConsenSys Academy
1006,1007,Ãxito Profesional,"University of California, Irvine"
1007,1008,Go and C++: Programming in Two Successor Lang...,"University of California, Santa Cruz"

In [7]:
# Renaming columns
courses= courses.rename({'unique_id':"course_id"}, axis='columns')
courses

,course_id,title,organization
0,1,Google Cybersecurity,Google
1,2,Google Data Analytics,Google
2,3,Google Project Management:,Google
3,4,Google Digital Marketing & E-commerce,Google
4,5,Google IT Support,Google
...,...,...,...
1003,1004,Introduction to Data Analytics,Meta
1004,1005,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network
1005,1006,Blockchain: Foundations and Use Cases,ConsenSys Academy
1006,1007,Ãxito Profesional,"University of California, Irvine"
1007,1008,Go and C++: Programming in Two Successor Lang...,"University of California, Santa Cruz"

In [8]:
courses_dim = courses
courses_dim

,course_id,title,organization
0,1,Google Cybersecurity,Google
1,2,Google Data Analytics,Google
2,3,Google Project Management:,Google
3,4,Google Digital Marketing & E-commerce,Google
4,5,Google IT Support,Google
...,...,...,...
1003,1004,Introduction to Data Analytics,Meta
1004,1005,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network
1005,1006,Blockchain: Foundations and Use Cases,ConsenSys Academy
1006,1007,Ãxito Profesional,"University of California, Irvine"
1007,1008,Go and C++: Programming in Two Successor Lang...,"University of California, Santa Cruz"

In [50]:
courses_dim.to_csv('data/courses_dim.csv', index=False)

In [27]:
course_details = data[['unique_id', 'certificate type', 'rating', 'reviews', 'coursera plus', 'towards degree', 'difficulty']].drop_duplicates()
course_details= course_details.rename({'unique_id':"course_id",'towards degree':'degree points'}, axis='columns')

In [28]:
course_details

,course_id,certificate type,rating,reviews,coursera plus,degree points,difficulty
0,1,Professional Certificate,4.8,43000,False,True,Beginner
1,2,Professional Certificate,4.8,159000,False,True,Beginner
2,3,Professional Certificate,4.8,120000,False,True,Beginner
3,4,Professional Certificate,4.8,34000,False,True,Beginner
4,5,Professional Certificate,4.8,196000,False,True,Beginner
...,...,...,...,...,...,...,...
1003,1004,Course,4.8,620,False,False,Beginner
1004,1005,Guided Project,4.7,163,False,False,Beginner
1005,1006,Course,4.7,840,False,False,Beginner
1006,1007,Specialization,4.7,7400,False,False,Beginner
1007,1008,Specialization,4.4,2400,False,False,Intermediate

In [25]:
course_details_fact = course_details
course_details_fact

,course_id,certificate type,rating,reviews,coursera plus,towards degree,difficulty
0,1,Professional Certificate,4.8,43000,False,True,Beginner
1,2,Professional Certificate,4.8,159000,False,True,Beginner
2,3,Professional Certificate,4.8,120000,False,True,Beginner
3,4,Professional Certificate,4.8,34000,False,True,Beginner
4,5,Professional Certificate,4.8,196000,False,True,Beginner
...,...,...,...,...,...,...,...
1003,1004,Course,4.8,620,False,False,Beginner
1004,1005,Guided Project,4.7,163,False,False,Beginner
1005,1006,Course,4.7,840,False,False,Beginner
1006,1007,Specialization,4.7,7400,False,False,Beginner
1007,1008,Specialization,4.4,2400,False,False,Intermediate

In [52]:
course_details_fact.to_csv('data/course_details_fact.csv',index=False)

In [17]:
# adjust split(,) if needed
skills_series = data['skills'].dropna().apply(lambda x: x.split(','))
skills = pd.Series([skill.strip() for sublist in skills_series for skill in sublist]).drop_duplicates().reset_index(drop=True)
skills = skills.to_frame(name='skill_name')
skills['skill_id'] = skills.index + 1  # Assign a unique skill_id
skills_list = skills

In [18]:
skills['skill_name'] = skills['skill_name'].str.strip("]").str.replace("'", "")
skills['skill_name'] = skills['skill_name'].str.strip("[").str.replace("'", "")
skills['skill_name'] = skills['skill_name'].str.strip(" ")

In [19]:
skills_list_dim = skills_list
skills_list_dim

             skill_name  skill_id
0      Network Security         1
1    Python Programming         2
2                 Linux         3
3       Cloud Computing         4
4                 Audit         5
..                  ...       ...
710     Database Theory       711
711          BlockChain       712
712            Business       713
713     Microsoft Excel       714
714         Advertising       715

[715 rows x 2 columns]

In [53]:
skills_list_dim.to_csv('data/skills_list_dim.csv',index=False)

In [35]:
data

,title,organization,certificate type,rating,reviews,coursera plus,towards degree,difficulty,skills,duration
0,Google Cybersecurity,Google,Professional Certificate,4.8,43000,False,True,Beginner,"['Network Security', ' Python Programming', ' ...",3 - 6 Months
1,Google Data Analytics,Google,Professional Certificate,4.8,159000,False,True,Beginner,"['Data Analysis', ' R Programming', ' SQL', ' ...",3 - 6 Months
2,Google Project Management:,Google,Professional Certificate,4.8,120000,False,True,Beginner,"['Project Management', ' Strategy and Operatio...",3 - 6 Months
3,Google Digital Marketing & E-commerce,Google,Professional Certificate,4.8,34000,False,True,Beginner,"['Digital Marketing', ' Marketing', ' Marketin...",3 - 6 Months
4,Google IT Support,Google,Professional Certificate,4.8,196000,False,True,Beginner,"['Computer Networking', ' Network Analysis', '...",3 - 6 Months
...,...,...,...,...,...,...,...,...,...,...
1003,Introduction to Data Analytics,Meta,Course,4.8,620,False,False,Beginner,"['Communication', ' Computer Programming', ' D...",1 - 3 Months
1004,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network,Guided Project,4.7,163,False,False,Beginner,['Microsoft Excel'],Less Than 2 Hours
1005,Blockchain: Foundations and Use Cases,ConsenSys Academy,Course,4.7,840,False,False,Beginner,"['BlockChain', ' Cryptography', ' Databases', ...",1 - 3 Months
1006,Ãxito Profesional,"University of California, Irvine",Specialization,4.7,7400,False,False,Beginner,"['Communication', ' Planning', ' Strategy', ' ...",3 - 6 Months
1007,Go and C++: Programming in Two Successor Lang...,"University of California, Santa Cruz",Specialization,4.4,2400,False,False,Intermediate,"['Algorithms', ' Computer Programming', ' Grap...",3 - 6 Months

In [36]:
data['skills'] = data['skills'].str.strip("]").str.replace("'", "")
data['skills'] = data['skills'].str.strip("[").str.replace("'", "")
data['skills'] = data['skills'].str.strip(" ")

In [37]:
data['skills']

0       Network Security,  Python Programming,  Linux,...
1       Data Analysis,  R Programming,  SQL,  Spreadsh...
2       Project Management,  Strategy and Operations, ...
3       Digital Marketing,  Marketing,  Marketing Mana...
4       Computer Networking,  Network Analysis,  Netwo...
                              ...
1003    Communication,  Computer Programming,  Data An...
1004                                      Microsoft Excel
1005    BlockChain,  Cryptography,  Databases,  Distri...
1006    Communication,  Planning,  Strategy,  Strategy...
1007     Algorithms,  Computer Programming,  Graph Theory
Name: skills, Length: 1008, dtype: object

In [38]:
exploded_skills = data.explode('skills')  # Create one row per skill
exploded_skills['skills'] = exploded_skills['skills'].str.strip()  # Remove extra spaces

In [40]:
# Merge with skills_list_dim to get skill_id
course_to_skill_dim = exploded_skills.merge(skills_list_dim, left_on='skills', right_on='skill_name')

In [42]:
# Merge with courses_dim to get course_id
course_to_skill_dim = course_to_skill_dim.merge(courses_dim, on='title')

In [43]:
course_to_skill_dim

,title,organization_x,certificate type,rating,reviews,coursera plus,towards degree,difficulty,skills,duration,skill_name,skill_id,course_id,organization_y
0,Google AI Essentials,Google,Course,4.7,8000,False,False,Beginner,Critical Thinking,1 - 3 Months,Critical Thinking,76,8,Google
1,Google AI Essentials,Google,Course,4.7,8000,False,False,Beginner,Critical Thinking,1 - 3 Months,Critical Thinking,104,8,Google
2,Google AI Essentials,Google,Course,4.7,8000,False,False,Beginner,Critical Thinking,1 - 3 Months,Critical Thinking,398,8,Google
3,Google AI Essentials,Google,Course,4.7,8000,False,False,Beginner,Critical Thinking,1 - 3 Months,Critical Thinking,520,8,Google
4,Generative AI for Everyone,DeepLearning.AI,Course,4.8,2700,False,False,Beginner,Strategy,1 - 4 Weeks,Strategy,66,63,DeepLearning.AI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,Social Work Practice: Advocating Social Justic...,University of Michigan,Course,4.8,393,False,True,Beginner,Communication,1 - 4 Weeks,Communication,516,1002,University of Michigan
340,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network,Guided Project,4.7,163,False,False,Beginner,Microsoft Excel,Less Than 2 Hours,Microsoft Excel,31,1005,Coursera Project Network
341,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network,Guided Project,4.7,163,False,False,Beginner,Microsoft Excel,Less Than 2 Hours,Microsoft Excel,207,1005,Coursera Project Network
342,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network,Guided Project,4.7,163,False,False,Beginner,Microsoft Excel,Less Than 2 Hours,Microsoft Excel,214,1005,Coursera Project Network
343,Excel for Beginners: Introduction to Spreadsheets,Coursera Project Network,Guided Project,4.7,163,False,False,Beginner,Microsoft Excel,Less Than 2 Hours,Microsoft Excel,714,1005,Coursera Project Network

In [44]:
# Select relevant columns
course_to_skill_dim = course_to_skill_dim[['course_id', 'skill_id']]

In [47]:
# Optionally, add a unique identifier for each row
course_to_skill_dim['id'] = range(1, len(course_to_skill_dim) + 1)

# Reorder columns
course_to_skill_dim = course_to_skill_dim[['id', 'course_id', 'skill_id']]

# Display the final dimension table
course_to_skill_dim

      id  course_id  skill_id
0      1          8        76
1      2          8       104
2      3          8       398
3      4          8       520
4      5         63        66
..   ...        ...       ...
339  340       1002       516
340  341       1005        31
341  342       1005       207
342  343       1005       214
343  344       1005       714

[344 rows x 3 columns]

In [54]:
# Save the dimension table to a CSV file
course_to_skill_dim.to_csv('data/course_to_skill_dim.csv',index=False)